#loading {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.restaurant-previews {
  overflow-x: scroll;
}

#loginForm {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profileForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
}

#editCard {
  float: right;
}
