#loading {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.restaurant-previews {
  overflow-x: scroll;
}

#loginForm {
	position: fixed;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#profileForm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#bookingList {
  display: inline-block;
  width: 100%;
  background-color: #6610f2;
}

.row {
  margin-top: 5px;
}

.col {
  display: inline-block;
  overflow: auto;
  width: 19.5%;
  margin: auto;
}

.input-small {
  max-width: 320px;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
}

.reviews .review {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
  background: var(--light);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 10px;
}
