:host {
  --cell-width: 40px;
  --cell-height: 60px;
}

@media screen and (min-width: 768px) {
  :host {
    --cell-width: 50px;
  }
}

.calendar {
  box-sizing: border-box;
  width: calc(var(--cell-width) * 7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: auto;
}

.header {
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray);
  color: white;
}

.month-heading {
  font-weight: normal;
  margin: 0;
}

.month-arrow {
  padding: 25px 10px;
  font-size: 18px;
  cursor: pointer;
  color: inherit;
  outline: none;
  border: none;
  background: none;
  transition: 0.2s ease-in-out transform;
}

.month-arrow:focus {
  color: var(--cyan);
}

.month-arrow:hover {
  transform: scale(1.3);
}

.cells {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--cell-width) * 7);
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height);
  background: var(--light);
  padding: 5px;
  font-size: 18px;
  font-weight: lighter;
  outline: none;
  border-style: solid;
  border: none;
}

.cell:hover {
  background: #e9ecef;
  cursor: pointer;
}

.cell:focus {
  background: #e9ecef;
  font-weight: bold;
}

.cell:disabled {
  background: var(--light);
  cursor: default;
}
