<template id="RestaurantCalendar">
  <link rel="stylesheet" href="/vendor/fontawesome@5.7.2/css/all.min.css" />
  <link
    rel="stylesheet"
    href="/components/RestaurantCalendar/RestaurantCalendar.css"
  />

  <div class="calendar">
    <header class="header">
      <button id="month-prev" class="month-arrow" type="button">
        <i class="fas fa-chevron-left"></i>
      </button>

      <h3 id="year-month" class="month-heading"></h3>

      <button id="month-next" class="month-arrow" type="button">
        <i class="fas fa-chevron-right"></i>
      </button>
    </header>

    <div class="cells">
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
      <button class="cell" type="button"></button>
    </div>
  </div>
</template>
