<template id="Navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">CSC309 Team 5</span>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-controls="navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/index.html">Restaurants</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/login.html">Sign In</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile.html">Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</template>
